html {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, a {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: white;
	margin: 0em;
	cursor: pointer;
}

h2 {
	text-align: center;
}

header {
	background-color: #0c4454;
}

header p {
	font-weight: 600;
}

.nav-label img {
	max-width: 50px;
	text-align: right;
}

nav ol {
	text-align: right;
}

nav li {
	margin: 0em 0.5em;
	border-top: 2px solid black;
	text-align: center;
}

.nav {
	display: none;
	margin: 0em;
}

.nav-check:checked ~ .nav{
	display: block;
}

.nav-check {
	position: absolute;
	margin: -5em;
}

.nav-label {
	cursor: pointer;
}

.nav-close {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}

.billboard {
	background-image: url('../images/billboard-index.jpg');
	background-repeat: no-repeat;
	margin: 0em;
	padding: 7rem 1rem;
	text-align: center;
	color: white;
}

.billboard h1, .billboard h2, .billboard p, .mini-billboard h1 {
	text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.mini-billboard {
	background-image: url('../images/billboard-index.jpg');
	background-repeat: no-repeat;
	padding: 2em;
	text-align: center;
	color: white;
	margin: 0em;
}

.button-style-1 {
	border-radius: 1em;
	background-color: #bcd45c;
	padding: 0.5em 1em;
	font-size: 1.2rem;
	color: white;
	cursor: pointer;
	border: none;
}

.signup-bar {
	background-color: #bcd45c;
	text-align: center;
}

.signup-bar h2 {
	margin: 0em;
}

.signup-bar a {
	border-radius: 1em;
	padding: 0.2em 1em;
	background-color: #617327;
}

.contact {
	background-color: #0c4454;
	color: white;
}

.contact a {
	text-decoration: underline;
}

.contact p, .contact h5 {
	margin: 0em;
}

.contact img {
	max-width: 40%;
}


/* Relate solely to specific pages */

.index-item {
	text-align: center;
	margin: auto;
}

.plan-box {
	border: 2px solid black;
	background-color: #e0e0e0;
}

.inline-label {
	display: inline-block;
	vertical-align: top;
}

fieldset {
	border: none;
	margin: 0 auto;
}

fieldset div{
	padding: 0.75em;
}

label {
	display: block;
	cursor: pointer;
}

input {
	border-radius: 0.5em;
	border: 1px solid #8c8c8c;
	padding: 0.1em 0.25em 0em 0.25em;
}

input + label {
	display: inline-block;
}

form div {
	padding: 0.5em;
}

/* margin classes */

.margin-medium {
	margin: 0 auto;
	max-width: 40rem
}

@media only screen and (min-width: 38em) {

	.index-item {
		text-align: left;
	}

}


@media only screen and (min-width: 60em) {

	.margin-medium {
		margin: 0 auto;
		max-width: 40rem
	}

	.contact img {
		max-width: 30%;
	}

	.nav {
		display: block;
	}

	.nav-label img {
		display: none;
	}

	.nav-check:checked ~ .nav-label .nav-close {
		display: none;
	}

	nav ol {
		margin: 0em;
		text-align: right;
	}

	nav li {
		padding: 0em 1em;
		border: none;
		display: inline-block;
	}



}

@media only screen and (min-width: 90em) {

	.contact img {
		max-width: 160px;
	}


}
