html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: white;
	margin: 0em;
}

header {
	background-color: #555;
}


nav ol {
	margin: 0em;
	text-align: right;
}

nav li {
	padding: 0em 1em;
}


.billboard {
	background-image: url(http://placehold.it/3000x400);
	background-repeat: no-repeat;
	text-align: center;
	margin: 0em;
}

.billboard-unit {
	padding: 5rem 1rem;
}

.button-style-1 {
	border-radius: 1em;
	background-color: black;
	padding: 0.5em 1em;
	font-size: 1.2rem;
}

.signup-bar {
	background-color: gray;
	text-align: center;
}

.signup-bar h2 {
	margin: 0em;
}

.contact {
	background-color: #555;
}

.contact a {
	color: grey;
}

.contact p, .contact h5 {
	margin: 0em;
}

.contact img {
	max-width: 40%;
}


@media only screen and (min-width: 38em) {


}


@media only screen and (min-width: 60em) {

	.contact img {
		max-width: 30%;
	}


}

@media only screen and (min-width: 90em) {

		.contact img {
		max-width: 160px;
	}


}
